<!DOCTYPE html>
<html data-ng-app>
    <head>
        <title>AngularJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body data-ng-init="miBool = true; variosNombres=['Greta','Emilio','Daniel']">

        <input type="checkbox" data-ng-model="miBool">{{ miBool ? "verdadero":"falso" }}
        <input type="button" data-ng-click="variosNombres=['Nadie']" value="presioname">
        <input type="text" data-ng-model="esteInput" data-ng-change="variosNombres=['esteInput', 'Otro elemento']">

        <h3>Bucle con NG Repeat</h3>
        <ul>
            <li data-ng-repeat="nombre in variosNombres">
                {{ nombre + " esta presente" }}
            </li>
        </ul><br>

        <div data-ng-init="ciudadList=[]">
            <h3>Array de Ciudades</h3>
            Ciudad <input type="text" data-ng-model="ciudad">
                    <input type="button" data-ng-click="ciudadList.push(ciudad)" value="agregar">

            <ul>
                <li data-ng-repeat="nombre in ciudadList track by $index">
                    {{ nombre + " agregado " + $index }}
                </li>
            </ul>
        </div>
        

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

</html>